<%= render "pages/home" %>

<h2>User Images</h2> 

<% if user_signed_in? %>
	<%= link_to 'ADD NEW IMAGE', new_pin_path, class:"btn btn-primary" %>
<% end %>
	<p><br/></p>
<div id="pins">
	<%= render @pins %>
</div>

<br />
