<% unless user_signed_in? %>

<div class="jumbotron">
<h1>Welcome to Image Share</h1>
<p class="lead muted">A place to share your images with others</p><br/>
<p><%= link_to "LOGIN", new_user_session_path, class:"btn btn-large btn-success" %> or
<%= link_to "Join Now", new_user_registration_path, class: "btn btn-large btn-primary" %></p>

</div>	

<% end %>