
<h1>About</h1>
<br/>
<p>This is a sample project to learn <%= link_to "Ruby On Rails", "http://rubyonrails.org"%></p> 
<br/>
<p><%= link_to "LOGIN", new_user_session_path, class:"btn btn-large btn-success" %> or
<%= link_to "Join Now", new_user_registration_path, class: "btn btn-large btn-primary" %></p>


