<div id="footer">
	<div class="container">
		<p class="credit">
		<%= link_to "Image share", root_path %> made for one month rails
		<span class="pull-right">Copyright 2013 &nbsp; <%= link_to "Privacy Policy", "#" %> </span>
		</p>
		
	</div>
</div>